@using Budget.Shared.Models

<MudDialog>
  <DialogContent>
    @if (Transaction is null)
    {
      <MudText>No transaction selected.</MudText>
    }
    else
    {
      <ul class="list-unstyled">
        <li><strong>Transaction Id:</strong> @Transaction.Id</li>
        <li><strong>Line:</strong> </li>
        <li><strong>Date:</strong> @Transaction.Date</li>
        <li><strong>Description:</strong> @Transaction.Description</li>
        <li><strong>Amount:</strong> @Transaction.TotalAmount</li>
      </ul>

      <MudTable Items="@Transaction.Details" Hover="true" Dense="true" Elevation="0">
        <HeaderContent>
          <MudTh>Line#</MudTh>
          <MudTh>Envelope</MudTh>
          <MudTh>Description</MudTh>
          <MudTh class="text-end">Amount</MudTh>
        </HeaderContent>
        <RowTemplate>
          <MudTd DataLabel="Line#">@context.LineId</MudTd>
          <MudTd DataLabel="Envelope">@context.EnvelopeId</MudTd>
          <MudTd DataLabel="Description">@context.Description</MudTd>
          <MudTd DataLabel="Amount" Class="text-end">@context.Amount.ToString("N2")</MudTd>
        </RowTemplate>
        <NoRecordsContent>
          <MudText Color="Color.Secondary">No details</MudText>
        </NoRecordsContent>
      </MudTable>
    }
  </DialogContent>
  <DialogActions>
    <MudButton Color="Color.Primary" OnClick="Close">Close</MudButton>
  </DialogActions>
</MudDialog>