@page "/envelopes"
@using Budget.DTO
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups
@using Budget.Shared.Models

<h1>Envelopes</h1>
<div class="col-lg-12 control-section">
  <div class="content-wrapper">
    <div class="col-lg-8 control-section sb-property-border">
      <div class="control-wrapper">
        <label class="example-label">Select a game</label>
        <SfDropDownList TItem="Cat" TValue="int?" PopupHeight="230px" Value="@SelectedCategoryId" ValueChanged="@CatChanged" DataSource="@Cats" >
          <DropDownListFieldSettings Text="CategoryName" Value="CategoryId"/> 
        </SfDropDownList>
      </div>
    </div>
    <p/>
    <div class="row">
      <SfGrid TItem="EnvelopeResult" AllowEditing="false" DataSource="@SelectedEnvelopeData" AllowPaging="true" aria-label="Order Details Table">
        <GridEvents TValue="EnvelopeResult" RowSelected="RowSelectHandler" />
        <GridColumns>
          <GridColumn Field=@nameof(EnvelopeResult.CategoryName) HeaderText="Category" TextAlign="TextAlign.Left" Width="130"></GridColumn>
          <GridColumn Field=@nameof(EnvelopeResult.EnvelopeName) HeaderText="Envelope" TextAlign="TextAlign.Left" Width="120"></GridColumn>
          <GridColumn Field=@nameof(EnvelopeResult.Balance) HeaderText="Balance" Width="60" Type="ColumnType.Decimal" TextAlign="TextAlign.Right"></GridColumn>
        </GridColumns>
      </SfGrid>
    </div>
    <div class="row">
      <SfGrid TItem="TransactionDto" AllowEditing="false" DataSource="@TransactionData" AllowPaging="true" aria-label="Order Details Table">
        <GridEvents TValue="TransactionDto" OnRecordDoubleClick="RecordDoubleClickHandler" />
        <GridColumns>
          <GridColumn Field=@nameof(TransactionDto.Date) HeaderText="Date" Width="70" Type="ColumnType.Date" TextAlign="TextAlign.Left" ></GridColumn>
          <GridColumn Field=@nameof(TransactionDto.Description) HeaderText="Description" Type="ColumnType.String" TextAlign="TextAlign.Left" Width="140"></GridColumn>
          <GridColumn Field=@nameof(TransactionDto.LineId) HeaderText="Line#" Width="60" Type="ColumnType.Integer" TextAlign="TextAlign.Left"></GridColumn>
          <GridColumn Field=@nameof(TransactionDto.Amount) HeaderText="Amount" Width="60" Type="ColumnType.Decimal" TextAlign="TextAlign.Right"></GridColumn>
        </GridColumns>
      </SfGrid>
    </div>
  </div>
</div>

<ShowOneTransaction Transaction="@SelectedTransactionDetail" Visible="@ShowTransactionDialog" VisibleChanged="@OnShowTransactionDialogChanged" />